.TableTitle{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.2s;

}
.TableTitle:hover{
        background-color: rgba(189, 205, 219, 0.464);   
}
.arrowIcons{
    margin-left: 8px;
    display: flex;
    align-items: center;
}
.TableTr{
    transition: all 0.2s;
}
.TableTr:hover{
    background-color: rgba(189, 205, 219, 0.464);   
}
.Resize{
    height: 100%;
    width: 5px;
    cursor: col-resize;
}
